mixin pagination(pagination)
    nav 
        ul(class="pagination")
            if(pagination.currentPage>1)
                li(class="page-item")
                button(
                    class="page-link"
                    button-pagination= parseInt(pagination.currentPage) - 1
                    ) Trang trước

            -for(let i=pagination.currentPage-1;i<=pagination.currentPage+1;i++)
                if(i>=1 && i<=pagination.totalPage)
                    li(class="page-item")
                    button(
                        class=`page-link ${(pagination.currentPage==i)?"active":""}`
                        button-pagination= i
                    ) #{i}

            if(pagination.currentPage < pagination.totalPage)
                li(class="page-item")
                button(
                    class="page-link"
                    button-pagination= parseInt(pagination.currentPage) + 1
                    ) Kế tiếp
