include ./moment.pug

mixin table-tree(productsCategory,prefixRole,level=1)
    each item,index in productsCategory
        -prefix = Array(level).join("-- ")
        tr
            if(user.permissions.includes(`${prefixRole}_edit`)) 
                td
                    input(
                        type="checkbox"
                        name="id"
                        value=item.id
                    )
            td #{item.index}

            td
                img(
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="auto"
                )

            td #{prefix + item.title}

            if(item.position)
                td 
                    input(
                        type="number"
                        value=item.position
                        style="width: 60px"
                        min="1"
                        name="position"
                    )
            
            td
                if(item.status == "active")
                    if(user.permissions.includes(`${prefixRole}_edit`))
                        a(
                        href="javascript:;"
                        class="badge text-bg-success"
                        data-status=item.status
                        data-id=item.id
                        ) Hoạt động
                    else 
                        span(
                            class="badge text-bg-success"
                        ) Hoạt động
                else
                    if(user.permissions.includes(`${prefixRole}_edit`))
                        a(
                        href="javascript:;" 
                        class="badge text-bg-danger"
                        data-status=item.status
                        data-id=item.id
                        ) Dừng hoạt động
                    else 
                        span(
                            class="badge text-bg-danger"
                        ) Dừng hoạt động
            
            td  
                if(item.createdBy.account_id)
                    p #{item.fullName}
                    +formatDate(item.createdBy.createdAt)

            td
                if(item.updatedBy.length > 0)
                    p #{item.updatedBy[item.updatedBy.length-1].fullName}
                    +formatDate(item.updatedBy[item.updatedBy.length-1].updatedAt)
                    
            td
                a(
                    class="btn btn-secondary btn-sm"
                    href = `${prefixAdmin}/${prefixRole}/detail/${item.id}`
                    ) Chi tiết
                if(user.permissions.includes(`${prefixRole}_edit`))
                    a(
                        class="btn btn-warning btn-sm"
                        href = `${prefixAdmin}/${prefixRole}/edit/${item.id}`
                        ) Sửa
                if(user.permissions.includes(`${prefixRole}_delete`))
                    button(
                        class="btn btn-danger btn-sm ml-1"
                        data-id=item.id 
                        button-delete
                        ) Xóa

            if(item.children && item.children.length>0)
                    +table-tree(item.children,prefixRole,level+1)
