extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  h1(class="mb-4") Cập nhật thông tin cá nhân

  form(
    action = `/user/info/edit?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    
    div(
      class="form-group"
      upload-image
    )
      label(for="avatar") Ảnh
      input(
          type="file"
          class="form-control-file"
          id="avatar"
          name="avatar"
          accept="image/*"
          upload-image-input
      )
      img(
          src=user.avatar
          upload-image-preview
          class="image-preview"
          style="width:100px"
      )
      button(
          delete-image
          class="btn btn-danger"
      ) x

    div(class="form-group")
      label(for="fullName") Họ tên: 
      input(
        type="text"
        name="fullName"
        id="fullName"
        required 
        class="form-control"
        value=user.fullName
        )
    
    div(class="form-group")
      label(for="email") Email: 
      input(
        type="email"
        class="form-control"
        name="email"
        id="email"
        value=user.email
      )
    
    div(class="form-group")
      label(for="phone") Số điện thoại: 
      input(
        type="phone"
        class="form-control"
        name="phone"
        id="phone"
        value=user.phone
      )

       
    div(class="form-group")
      a(
        href=`/user/info/change-password`
        class="btn btn-primary"
      ) Đổi mật khẩu

      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật