.sider
  .inner-menu
    ul 
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      if(user.permissions.includes("products-category_view"))
        li
          a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
      if(user.permissions.includes("products_view"))
        li
          a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
      if(user.permissions.includes("roles_view"))
        li 
          a(href=`${prefixAdmin}/roles`) Nhóm quyền
      if(user.permissions.includes("roles_permissions"))
        li  
          a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
      if(user.permissions.includes("account_view"))
        li  
          a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản
      if(user.permissions.includes("user_view"))
        li 
          a(href=`${prefixAdmin}/users`) Danh sách khách hàng
      if(user.permissions.includes("article-category_view"))
        li
          a(href=`${prefixAdmin}/articles-category`) Danh mục bài viết
      if(user.permissions.includes("article_view"))
        li
          a(href=`${prefixAdmin}/articles`) Danh sách bài viết
      if(user.permissions.includes("order_view"))
        li 
          a(href=`${prefixAdmin}/orders`) Danh sách đơn hàng
      if(user.permissions.includes("setting-general_view"))
        li 
          a(href=`${prefixAdmin}/settings/general`) Cài đặt chung
      
        